spring:
  application:
    name: device-management
  profiles:
    active: local

  docker:
    compose:
      enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/device_management
    username: postgres
    password: postgres
#    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
  servlet:
    context-path: /device-api/v1

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG